.players_logger_CONTENT{
background-color: rgb(56, 56, 56);
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
grid-column: 2;
grid-row: 1/3;
}

/*
 ───────────────────────────────────────────────────────────────────────────────────────
  ███████╗███████╗ █████╗ ██████╗  ██████╗██╗  ██╗
  ██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝██║  ██║
  ███████╗█████╗  ███████║██████╔╝██║     ███████║
  ╚════██║██╔══╝  ██╔══██║██╔══██╗██║     ██╔══██║
  ███████║███████╗██║  ██║██║  ██║╚██████╗██║  ██║
  ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
 ───────────────────────────────────────────────────────────────────────────────────────
*/


.search_bar_and_add_player{
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    position: relative;
}

.search_bar_and_add_player button{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}

#add_player{
    margin: 0px;
    padding: 0px;
    border: none;
}

#search_bar_players{
    width: 270px;
    height: 35px;
    border-radius: 100px;
}

#search_bar_players.new_player{
    width: 270px;
    height: 35px;
    background-color: black;
    color: White;
    border-radius: 0px;
 
}

#btn_cancel_new_player{
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    outline: none;
}

#search_results.activate_search{
    display: block;
    background-color: white;
    width: 280px;
    height: auto;
    max-height: 405px;
    position: absolute;
    overflow-y: auto;
    z-index: 100;
    top: 55px; 
    left: 15px;
    
}

#search_results.activate_search p{
    background-color:white;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #050505;
}

#search_results.activate_search p:hover{
    background-color:rgb(175, 175, 175);
}

#search_results.desactive_search{
    display: none;
}


/*
 ─────────────────────────────────────────────────────────────────
  ██████╗ ████████╗███╗   ██╗
  ██╔══██╗╚══██╔══╝████╗  ██║
  ██████╔╝   ██║   ██╔██╗ ██║
  ██╔══██╗   ██║   ██║╚██╗██║
  ██████╔╝   ██║   ██║ ╚████║
  ╚══════╝   ╚═╝   ╚═╝  ╚═══╝
 ─────────────────────────────────────────────────────────────────
*/


.btns_categories button{
    width: 100px;
    height: 40px;
}

.btns_categories{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    width: 100%;

}

.players_logger_CONTENT p{
    color: white;
    font-size: 30px;
    margin: 0px 0px 0px 15px;
    padding: 0px;

}

.btns_anomalies{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.btns_anomalies button{
    width: 100px;
    height: 40px;
}

.show_new_player_and_btn_add{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    padding: 15px;
}

#show_new_player{
    margin: 0px;
    width: 200px;
    height: 45px;
    box-shadow: inset 0 0 0 3px
}

#show_new_player p{
    color: black;
    font-size: 30px;
}

#show_new_player p.bugger_font_white{
    color: white;
    font-size: 30px;
}

#show_new_player.player_in{
    background-color: white;
}

.show_new_player_and_btn_add button{
    width: 200px;
    height: 45px;
    background: rgb(255, 166, 0);
}

.present_players_space{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    background-color: gray;
}

/*
 ───────────────────────────────────────────────────────────────────────────────────────
  ██████╗ ████████╗███╗   ██╗     ██████╗ ██████╗ ██╗      ██████╗ ██████╗ 
  ██╔══██╗╚══██╔══╝████╗  ██║    ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
  ██████╔╝   ██║   ██╔██╗ ██║    ██║     ██║   ██║██║     ██║   ██║██████╔╝
  ██╔══██╗   ██║   ██║╚██╗██║    ██║     ██║   ██║██║     ██║   ██║██╔══██╗
  ██████╔╝   ██║   ██║ ╚████║    ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
  ╚══════╝   ╚═╝   ╚═╝  ╚═══╝     ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
 ───────────────────────────────────────────────────────────────────────────────────────
*/

#win{
    background-color: rgb(9, 104, 0);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}


#lose{
    background-color: rgb(126, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}


#past{
    background-color: rgb(14, 150, 1);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#opponent_past{
    background-color: rgb(203, 15, 15);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#draw{
    background-color: rgb(130, 0, 177);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#bugger{
    background-color: rgb(5, 5, 5);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#sinnet{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#not_play{
    background-color: rgb(253, 0, 194);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#corner{
    background-color: rgb(26, 24, 110);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#x2jump{
    background-color: rgb(32, 2, 155);
    color: white;
    font-weight: bold;
    font-size: 15px;
    outline: none;
}

#smj{
    background-color: rgb(0, 67, 212);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#friendly_match{
    background-color: rgb(0, 14, 206);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

#lagbank{
    background-color: rgb(0, 70, 135);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}









